/*Couleur du site*/
/*police*/
/*Couleur du site*/
/*police*/
* {
  text-decoration: none; }

body {
  width: 100%;
  background-color: #FAFAFA;
  margin: 0; }

header, footer {
  width: 100%;
  height: 80px;
  margin: 0px;
  background-color: #579C87;
  font-family: "Roboto", sans-serif; }
  header h1, header h2, footer h1, footer h2 {
    margin: 0;
    padding-top: 20px; }
  header a, footer a {
    color: #fcca46; }
  header h1, footer h1 {
    text-align: center; }

footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0; }

/*Couleur du site*/
/*police*/
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center; }
  main section {
    width: 50%;
    height: 400px;
    font-size: 25px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0.5px 0.5px 8px grey; }
    main section .menu {
      margin-top: 100px; }
  main section:nth-child(1) {
    background-color: #ffcdd2;
    font-family: "Courgette", "Roboto", sans-serif; }
    main section:nth-child(1) .menu {
      color: #212121;
      margin-top: 80px; }
    main section:nth-child(1) i {
      background: linear-gradient(to right, #d32f2f, #F9A825);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
  main section:nth-child(2) {
    background-color: #ffebee;
    font-family: "Berkshire Swash", "Roboto", sans-serif; }
    main section:nth-child(2) p {
      background: linear-gradient(to right, #F9A825, #AB47BC, #5C6BC0);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
    main section:nth-child(2) h3 {
      color: #F9A825; }
  main section:nth-child(3) {
    background-color: #E1F5FE;
    font-family: "Dancing Script", "Roboto", sans-serif; }
    main section:nth-child(3) p {
      background: linear-gradient(to right, #0D47A1, #1E88E5, #42A5F5);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
    main section:nth-child(3) h3 {
      color: #0D47A1; }
  main section:nth-child(4) {
    background-color: #FAFAFA;
    font-family: "Kaushan Script", "Roboto", sans-serif; }
    main section:nth-child(4) p {
      background: linear-gradient(to right, #2E7D32, #43A047, #81C784);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
    main section:nth-child(4) h3 {
      color: #2E7D32; }

aside {
  width: 40%;
  height: 50px;
  border-radius: 3%;
  text-align: center;
  margin: auto;
  margin-bottom: 150px;
  background-color: #579C87; }
  aside h4 {
    padding-top: 15px;
    color: #fcca46;
    font-size: 20px;
    font-family: "Roboto", sans-serif; }

@media only screen and (min-width: 600px) {
  main {
    flex-direction: row;
    flex-wrap: wrap; }
    main section {
      margin: 30px;
      width: 30%;
      height: 450px; }

  .menu:hover {
    transform: scale(1.3); } }
.menu {
  transition: transform 330ms ease-in-out; }

.menu:hover {
  transform: scale(1.1);
  opacity: 0.5; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(5deg); }
  95% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
.footer-info {
  display: inline-block;
  animation: wiggle 5s infinite; }

.footer-info:hover {
  animation: none; }

/*# sourceMappingURL=style.css.map */
