.menu {
    transition: transform 330ms ease-in-out;
}

.menu:hover{
	  transform: scale(1.1);
	  opacity: 0.5;
    }
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.footer-info {
  display: inline-block;
  animation: wiggle 5s infinite;
}

.footer-info:hover {
  animation: none;
}

@keyframes wait {
    0% { margin-bottom: 0px; }
  50% { margin-bottom: 10px;
  opacity: 0.8 }
  100% { margin-bottom: 0px; }
}

.div:nth-child(1) {
  display: inline-block;
  animation: wait 1.2s infinite;
  animation-delay: 0.2s;
}
.div:nth-child(2) {
  display: inline-block;
  animation: wait 1.2s infinite;
  animation-delay: 0.4s;
}
.div:nth-child(3) {
  display: inline-block;
  animation: wait 1.2s infinite;
  animation-delay: 0.6s;
}