/*Couleur du site*/
$cd-body:#FAFAFA;

$cd-panel:#579C87;

$cd-bcg--menu1:#ffcdd2;
$cd-bcg--menu2:#ffebee;
$cd-bcg--menu3:#E1F5FE;
$cd-bcg--menu4:#FAFAFA;

$cd-gradient--menu1:linear-gradient(to right, #d32f2f, #F9A825);
$cd-gradient--menu2:linear-gradient(to right, #F9A825, #AB47BC, #5C6BC0);
$cd-gradient--menu3:linear-gradient(to right, #0D47A1, #1E88E5, #42A5F5);
$cd-gradient--menu4:linear-gradient(to right, #2E7D32, #43A047, #81C784);

$cd-txt--default:#fcca46;
$cd-txt--menu:#212121;
$cd-txt--menu2-1:#F9A825;
$cd-txt--menu2-2:#AB47BC;
$cd-txt--menu2-3:#5C6BC0;
$cd-txt--menu3-1:#0D47A1;
$cd-txt--menu3-2:#1E88E5;
$cd-txt--menu3-3:#42A5F5;
$cd-txt--menu4-1:#2E7D32;
$cd-txt--menu4-2:#43A047;
$cd-txt--menu4-3:#81C784;

$cd-boxshadow:0.5px 0.5px 8px grey;


/*police*/
$cd-police--default:'Roboto', sans-serif;
$cd-police--menu1:'Courgette', 'Roboto', sans-serif;
$cd-police--menu2:'Berkshire Swash',  'Roboto', sans-serif;
$cd-police--menu3:'Dancing Script',  'Roboto', sans-serif;
$cd-police--menu4:'Kaushan Script', 'Roboto', sans-serif;
