/****Couleur du site****/

/*Couleur de fond*/
$cd-body:#FAFAFA;

/*Couleur du bandeau*/
$cd-panel:#579C87;

/*Couleur de fond des menus*/
$cd-bcg--menu1:rgb(252,223,219);
$cd-bcg--menu2:rgb(255,245,254);
$cd-bcg--menu3:rgb(249,249,249);
$cd-bcg--menu4:rgb(255,253,255);

/*Couleur des dégradés*/
$cd-gradient--menu1:linear-gradient(to right, #d32f2f, #F9A825);
$cd-gradient--menu2:linear-gradient(to right, #F9A825, #AB47BC, #5C6BC0);
$cd-gradient--menu3:linear-gradient(to right, #0D47A1, #1E88E5, #B2EBF2);
$cd-gradient--menu4:linear-gradient(to right, #1B5E20, #AED581, #F9FBE7);
$cd-gradient--menu4-1:linear-gradient(to left, #1B5E20, #AED581, #F9FBE7);

/*Couleur des menus*/
$cd-txt--default:#fcca46;
$cd-txt--menu:#212121;
$cd-txt--menu2-1:#F9A825;
$cd-txt--menu2-2:#AB47BC;
$cd-txt--menu2-3:#5C6BC0;
$cd-txt--menu3-1:rgb(8,135,251);
$cd-txt--menu3-2:#1E88E5;
$cd-txt--menu3-3:#42A5F5;
$cd-txt--menu4-1:rgb(114,191,86);
$cd-txt--menu4-2:#43A047;
$cd-txt--menu4-3:#81C784;

$cd-boxshadow:0.5px 0.5px 8px grey;


/****police****/
$cd-police--default:'Roboto', sans-serif;
$cd-police--menu1:'Courgette', 'Roboto', sans-serif;
$cd-police--menu2:'Berkshire Swash',  'Roboto', sans-serif;
$cd-police--menu3:'Dancing Script',  'Roboto', sans-serif;
$cd-police--menu4:'Kaushan Script', 'Roboto', sans-serif;
