@import "../import/origin";
@import "../import/custom";
@import "../import/menu";
@import "../import/desktop_menu";

main{
	font-family: $cd-police--menu1;
	background-color:$cd-bcg--menu1;
	
	i{
		margin-top: 30px;
		font-size: 40px;
		background: $cd-gradient--menu1;
		-webkit-text-fill-color: transparent;
      	-webkit-background-clip: text;
      	padding: 20px;}
}

/*couleur du soulignement du h5*/
h5:after{
	background-color: $cd-txt--menu;
}