@import "../import/origin";
@import "../import/custom";
@import "../import/menu";

main{
	font-family: $cd-police--menu3;
	background-color:$cd-bcg--menu3;
	h3{
	background:$cd-gradient--menu3;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;}
		padding: 30px;
	}
.premier .colonne-element{
	background-color: $cd-txt--menu3-1;
}
.second .colonne-element{
	background-color: $cd-txt--menu3-2;
}
.troisieme .colonne-element{
	background-color: $cd-txt--menu3-3;
}