@charset "UTF-8";
/****Couleur du site****/
/*Couleur de fond*/
/*Couleur du bandeau*/
/*Couleur de fond des menus*/
/*Couleur des d├®grad├®s*/
/*Couleur des menus*/
/****police****/
* {
  text-decoration: none; }

body {
  width: 100%;
  background-color: #FAFAFA;
  margin: 0; }

header, footer {
  width: 100%;
  height: 80px;
  margin: 0px;
  background-color: #579C87;
  font-family: "Roboto", sans-serif; }
  header h1, footer h1 {
    margin: 0;
    padding-top: 20px;
    text-align: center; }
  header a, footer a {
    color: #fcca46; }

footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  flex-direction: column; }
  footer .footer-info {
    display: flex;
    justify-content: center; }
  footer h2 {
    margin: 0; }

/****Couleur du site****/
/*Couleur de fond*/
/*Couleur du bandeau*/
/*Couleur de fond des menus*/
/*Couleur des d├®grad├®s*/
/*Couleur des menus*/
/****police****/
/****Couleur du site****/
/*Couleur de fond*/
/*Couleur du bandeau*/
/*Couleur de fond des menus*/
/*Couleur des d├®grad├®s*/
/*Couleur des menus*/
/****police****/
/*animation des menus*/
.resto {
  transition: transform 330ms ease-in-out; }

.resto:hover {
  transform: scale(1.1);
  opacity: 0.5; }

/*animation du footer*/
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(5deg); }
  40% {
    -webkit-transform: rotate(-5deg); }
  60% {
    -webkit-transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
.footer-info:hover {
  animation: wiggle 0.4s; }

/*animation prochainement*/
@keyframes wait {
  0% {
    margin-bottom: 0px; }
  50% {
    margin-bottom: 10px;
    opacity: 0.8; }
  100% {
    margin-bottom: 0px; } }
.div:nth-child(1) {
  display: inline-block;
  animation: wait 1.2s infinite;
  animation-delay: 0.2s; }

.div:nth-child(2) {
  display: inline-block;
  animation: wait 1.2s infinite;
  animation-delay: 0.4s; }

.div:nth-child(3) {
  display: inline-block;
  animation: wait 1.2s infinite;
  animation-delay: 0.6s; }

/****css des 4 menus****/
main {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 110px;
  color: #212121;
  box-shadow: 0.5px 0.5px 8px grey; }
  main table {
    margin: auto;
    width: 90%; }
  main h3 {
    margin: 20px 0 20px 0;
    font-size: 40px; }
  main h4 {
    padding-bottom: 30px;
    font-size: 30px; }
  main h5 {
    font-size: 25px;
    margin: 20px 20px;
    position: relative; }
  main td {
    padding-bottom: 15px; }
  main tr td:nth-child(1) {
    text-align: left; }
  main tr td:nth-child(2) {
    text-align: right;
    padding-left: 15px; }

.colonne {
  display: flex;
  justify-content: space-between; }

.colonne-element {
  background-color: #212121;
  width: 30%;
  height: 3px; }

.colonne-element:nth-child(1) {
  margin: 35px 5px 0 20px; }

.colonne-element:nth-child(3) {
  margin: 35px 20px 0 5px; }

/*effet soulignement*/
h5:after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  transition: 0.6s;
  position: absolute; }

h5:hover:after {
  width: 100%; }

@media only screen and (min-width: 600px) {
  footer {
    flex-direction: row; }
    footer h2 {
      margin-top: 20px; } }
main {
  font-family: "Kaushan Script", "Roboto", sans-serif;
  background-color: #fffdff; }
  main h3 {
    background: linear-gradient(to right, #1B5E20, #AED581, #F9FBE7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 30px; }

.colonne-element:nth-child(1) {
  background: linear-gradient(to right, #1B5E20, #AED581, #F9FBE7);
  -webkit-text-fill-color: transparent; }

.colonne-element:nth-child(3) {
  background: linear-gradient(to left, #1B5E20, #AED581, #F9FBE7);
  -webkit-text-fill-color: transparent; }

/*couleur du soulignement du h5*/
h5:after {
  background-color: #72bf56; }

/*# sourceMappingURL=style.css.map */
